<header id="gh-head" class="px-12 py-8">
  <nav class="grid w-full gap-12 grid-cols-[1fr_auto_1fr]">

    <div class="gh-head-brand">
      <a class="gh-head-logo text-4xl font-bold" href="{{@site.url}}">
        {{#if @site.logo}}
          <img src="{{@site.logo}}" alt="{{@site.title}}" />
        {{else}}
          {{@site.title}}
        {{/if}}
      </a>
      <a class="gh-burger" role="button" aria-label="menu">
        <div class="gh-burger-box">
          <div class="gh-burger-inner"></div>
        </div>
      </a>
    </div>
    <div class="gh-head-menu flex items-center">
      {{navigation}}
    </div>
    <div class="gh-head-actions">
      <div class="gh-head-actions-list">
        {{search}}
        {{#if @site.members_enabled}}
          {{#if @member}}
            <a class="gh-button" href="#/portal/account">Account</a>
          {{else}}
            <a class="gh-button" href="{{@site.signup_url}}">Subscribe</a>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </nav>
</header>