<header id="gh-head" class="px-12 py-8">
  <nav class="gh-head-inner grid w-full mb-16">

    <div class="gh-head-brand">
      <a class="gh-head-logo text-2xl font-bold" href="{{@site.url}}">
        {{@site.title}}
      </a>
      <a class="gh-burger" role="button" aria-label="menu">
        <div class="gh-burger-box">
          <div class="gh-burger-inner"></div>
        </div>
      </a>
    </div>
    <div class="gh-head-menu flex items-center text-base">
      {{navigation}}
    </div>
    <div class="gh-head-actions">
      <div class="gh-head-actions-list">
        {{search}}
        {{!-- {{#if @site.members_enabled}}
          {{#if @member}}
            <a class="gh-button" href="#/portal/account">Account</a>
          {{else}}
            <a
              class="gh-button text-xl"
              href="{{@site.signup_url}}"
            >Subscribe</a>
          {{/if}}
        {{/if}} --}}
      </div>
    </div>
  </nav>
</header>