{{!< default}}
<div class="gh-page flex flex-col">
  <div class="gh-container-sm">
    <div class="mt-16 bg-heavy rounded-xl w-full h-full flex flex-row">
      <div class="p-4">
        <img
          src="{{@site.logo}}"
          alt="{{@site.title}}"
          class="rounded-xl logo"
        />
      </div>
      <div class="grow py-4">
        <p class="text-2xl font-bold mb-2">{{@site.title}}</p>
        <p class="text-xl">{{@site.description}}</p>
      </div>
    </div>
  </div>
  <div class="gh-container-sm">
    <div class="w-fit rounded-xl mb-8 mt-16 p-4">
      <p class="inline-block text-4xl font-bold">추천 글</p>
      <p class="inline-block text-xl">featured</p>
    </div>
  </div>
  <div class="gh-container">
    <div class="post-feed">
      {{#get "posts" filter="featured:true" limit="4" include="tags,authors"}}
        {{>card-article}}
      {{/get}}
    </div>
  </div>

  <div class="gh-container-sm">
    <div class="w-fit rounded-xl mb-8 mt-16 p-4">
      <p class="inline-block text-4xl font-bold">최신 글</p>
      <p class="inline-block text-xl">recent article</p>
    </div>
    <div class="gh-postfeed"> <!--post-feed-->
      {{>list-article}}
    </div>
  </div>
  <div class="gh-container">
    {{! If JS isn't enabled, fallback to standard pagination }}
    <noscript>
      <div class="gh-pagination">
        {{pagination}}
      </div>
    </noscript>
  </div>
</div>