{{!< default}}

{{#post}}

<article class="gh-article {{post_class}}">
    {{> "section/hero"}}

    <div class="gh-content gh-canvas">
			<aside class="gh-sidebar"><div class="gh-toc"></div></aside> {{! The TOC will be inserted here }}
        {{content}}
    </div>

    <footer class="gh-footer gh-canvas">

        <div class="gh-post-authors">
            Written by {{#foreach authors}}<a href="{{url}}">{{name}}</a>{{/foreach}}
        </div>

        {{#if comments}}
        <section class="gh-post-comments">
            {{comments}}
        </section>
        {{/if}}

        <div class="giscus"></div>

    </footer>

</article>

<aside class="gh-readmore">
    <div class="gh-readmore-inner gh-container">
        <div class="gh-readmore-next">
            {{#next_post}}<a href="{{url}}">{{> "icons/arrow-left"}} <h4>{{title}}</h4></a>{{/next_post}}
        </div>
        <div class="gh-readmore-prev">
            {{#prev_post}}<a href="{{url}}">
                <h4>{{title}}</h4> {{> "icons/arrow-right"}}
            </a>{{/prev_post}}
        </div>
    </div>
</aside>

{{#get "posts" limit="4" filter="primary_tag:{{primary_tag.slug}}+id:-{{id}}"}}
  {{> "section/featured"}}
{{/get}}

{{/post}}

<script src="https://giscus.app/client.js"
        data-repo="koderpark/blogcomment"
        data-repo-id="R_kgDOKfRV8w"
        data-category="Announcements"
        data-category-id="DIC_kwDOKfRV884CaD04"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="ko"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>