<div class="g-4 flex flex-wrap gap-1">
  {{#if nested}}
    {{#foreach tags}}
      <span href="{{url}}">
        {{#> "components/pill/sm"}}
          {{name}}
        {{/ "components/pill/sm"}}
      </span>
    {{/foreach}}
  {{else}}
    {{#foreach tags}}
      <a href="{{url}}">
        {{#> "components/pill/sm"}}
          {{name}}
        {{/ "components/pill/sm"}}
      </a>
    {{/foreach}}
  {{/if}}
</div> 